@import "Global/main.scss";

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;

    h1
    {
        font-family: monospace;
        color: yellow;
    }

    img
    {
        height: 70px;
    }
}
