<!DOCTYPE html>
<html lang="en">
<head>
    {{> defaultHeadTags}}
    <link rel="stylesheet" href="/assets/css/{{assets.css}}">
    <title>Pizza App</title>
</head>
<body>
    <img src="/assets/img/pizza.svg" alt="Pizza">
    <script src="/assets/js/{{assets.js}}"></script>
</body>
</html>